In [119]:
import pandas as pd

In [120]:
import numpy as np

In [121]:
df = pd.read_csv("presidents.csv", index_col=0)

In [122]:
#cleaning President's Name column

In [123]:
pattern = "(?P<first>^[\w]*)(?:.* )(?P<last>[\w]*$)"

In [124]:
names = df["President"].str.extract(pattern)

In [125]:
df = pd.concat([names, df], axis=1)
del(df["President"])

In [126]:
#cleaning the DOB and DOD
born_dates = df["Born"].str.extract("(?P<born>[\w]{3} [0-9]{1,2}, [0-9]{4})")
dead_dates = df["Died"].str.extract("(?P<died>[\w]{3} [0-9]{1,2}, [0-9]{4})")
df = pd.concat([df,born_dates, dead_dates], axis=1)

In [127]:
df["born"]= pd.to_datetime(df["born"])
df["died"]= pd.to_datetime(df["died"])

In [128]:
del([df["Born"], df["Died"]])

In [136]:
#cleaning age column
pattern_age = "(?P<years>^[0-9]{2})(?:.{8})(?P<days>[0-9]{1,3})"
df["Age"].str.extract(pattern_age)

   years days
#
1     67  295
2     90  247
3     83   82
4     85  104
5     73   67
6     80  227
7     78   85
8     79  231
9     68   54
10    71  295
11    53  225
12    65  227
13    74   60
14    64  319
15    77   39
16    56   62
17    66  214
18    63   87
19    70  105
20    49  304
21    57   44
22    71   98
23    67  205
24    71   98
25    58  228
26    60   71
27    72  174
28    67   37
29    57  273
30    60  185
31    90   71
32    63   72
33    88  232
34    78  165
35    46  177
36    64  148
37    81  103
38    93  165
39    94  286
40    93  120
41    94  171
42    72  329
43    73    8
44    57  344

In [118]:
df

,first,last,Age atstart of presidency,3,Age atend of presidency,Post-presidencytimespan,Age,born,died
#,,,,,,,,,
1,George,Washington,"57 years, 67 daysApr 30, 1789",1732-02-22,"65 years, 10 daysMar 4, 1797","2 years, 285 days","67 years, 295 days",1732-02-22,1799-12-14
2,John,Adams,"61 years, 125 daysMar 4, 1797",1735-10-30,"65 years, 125 daysMar 4, 1801","25 years, 122 days","90 years, 247 days",1735-10-30,1826-07-04
3,Thomas,Jefferson,"57 years, 325 daysMar 4, 1801",1743-04-13,"65 years, 325 daysMar 4, 1809","17 years, 122 days","83 years, 82 days",1743-04-13,1826-07-04
4,James,Madison,"57 years, 353 daysMar 4, 1809",1751-03-16,"65 years, 353 daysMar 4, 1817","19 years, 116 days","85 years, 104 days",1751-03-16,1836-06-28
5,James,Monroe,"58 years, 310 daysMar 4, 1817",1758-04-28,"66 years, 310 daysMar 4, 1825","6 years, 122 days","73 years, 67 days",1758-04-28,1831-07-04
6,John,Adams,"57 years, 236 daysMar 4, 1825",1767-07-11,"61 years, 236 daysMar 4, 1829","18 years, 356 days","80 years, 227 days",1767-07-11,1848-02-23
7,Andrew,Jackson,"61 years, 354 daysMar 4, 1829",1767-03-15,"69 years, 354 daysMar 4, 1837","8 years, 96 days","78 years, 85 days",1767-03-15,1845-06-08
8,Martin,Buren,"54 years, 89 daysMar 4, 1837",1782-12-05,"58 years, 89 daysMar 4, 1841","21 years, 142 days","79 years, 231 days",1782-12-05,1862-07-24
9,William,Harrison,"68 years, 23 daysMar 4, 1841",1773-02-09,"68 years, 54 days Apr 4, 1841[b]",NaN,"68 years, 54 days",1773-02-09,1841-04-04
10,John,Tyler,"51 years, 6 daysApr 4, 1841",1790-03-29,"54 years, 340 daysMar 4, 1845","16 years, 320 days","71 years, 295 days",1790-03-29,1862-01-18
11,James,Polk,"49 years, 122 daysMar 4, 1845",1795-11-02,"53 years, 122 daysMar 4, 1849",103 days,"53 years, 225 days",1795-11-02,1849-06-15
12,Zachary,Taylor,"64 years, 100 daysMar 4, 1849",1784-11-24,"65 years, 227 daysJul 9, 1850[b]",NaN,"65 years, 227 days",1784-11-24,1850-07-09
13,Millard,Fillmore,"50 years, 183 daysJul 9, 1850",1800-01-07,"53 years, 56 daysMar 4, 1853","21 years, 4 days","74 years, 60 days",1800-01-07,1874-03-08
14,Franklin,Pierce,"48 years, 101 daysMar 4, 1853",1804-11-23,"52 years, 101 daysMar 4, 1857","12 years, 218 days","64 years, 319 days",1804-11-23,1869-10-08
15,James,Buchanan,"65 years, 315 daysMar 4, 1857",1791-04-23,"69 years, 315 daysMar 4, 1861","7 years, 89 days","77 years, 39 days",1791-04-23,1868-06-01
16,Abraham,Lincoln,"52 years, 20 daysMar 4, 1861",1809-02-12,"56 years, 62 daysApr 15, 1865[b]",NaN,"56 years, 62 days",1809-02-12,1865-04-15
17,Andrew,Johnson,"56 years, 107 daysApr 15, 1865",1808-12-29,"60 years, 65 daysMar 4, 1869","6 years, 149 days","66 years, 214 days",1808-12-29,1875-07-31
18,Ulysses,Grant,"46 years, 311 daysMar 4, 1869",1822-04-27,"54 years, 311 daysMar 4, 1877","8 years, 141 days","63 years, 87 days",1822-04-27,1885-07-23
19,Rutherford,Hayes,"54 years, 151 daysMar 4, 1877",1822-10-04,"58 years, 151 daysMar 4, 1881","11 years, 319 days","70 years, 105 days",1822-10-04,1893-01-17
20,James,Garfield,"49 years, 105 daysMar 4, 1881",1831-11-19,"49 years, 304 daysSep 19, 1881[b]",NaN,"49 years, 304 days",1831-11-19,1881-09-19
21,Chester,Arthur,"51 years, 349 daysSep 19, 1881",1829-10-05,"55 years, 150 daysMar 4, 1885","1 year, 259 days","57 years, 44 days",1829-10-05,1886-11-18
22,Grover,Cleveland,"47 years, 351 daysMar 4, 1885",1837-03-18,"51 years, 351 daysMar 4, 1889","4 years, 0 days[c]","71 years, 98 days",1837-03-18,1908-06-24
23,Benjamin,Harrison,"55 years, 196 daysMar 4, 1889",1833-08-20,"59 years, 196 daysMar 4, 1893","8 years, 9 days","67 years, 205 days",1833-08-20,1901-03-13
24,Grover,Cleveland,"55 years, 351 daysMar 4, 1893",1837-03-18,"59 years, 351 daysMar 4, 1897","11 years, 112 days[d]","71 years, 98 days",1837-03-18,1908-06-24
25,William,McKinley,"54 years, 34 daysMar 4, 1897",1843-01-29,"58 years, 228 daysSep 14, 1901[b]",NaN,"58 years, 228 days",1843-01-29,1901-09-14
26,Theodore,Roosevelt,"42 years, 322 daysSep 14, 1901",1858-10-27,"50 years, 128 daysMar 4, 1909","9 years, 308 days","60 years, 71 days",1858-10-27,1919-01-06
27,William,Taft,"51 years, 170 daysMar 4, 1909",1857-09-15,"55 years, 170 daysMar 4, 1913","17 years, 4 days","72 years, 174 days",1857-09-15,1930-03-08
28,Woodrow,Wilson,"56 years, 66 daysMar 4, 1913",1856-12-28,"64 years, 66 daysMar 4, 1921","2 years, 336 days","67 years, 37 days",1856-12-28,1924-02-03
29,Warren,Harding,"55 years, 122 daysMar 4, 1921",1865-11-02,"57 years, 273 daysAug 2, 1923[b]",NaN,"57 years, 273 days",1865-11-02,1923-08-02
30,Calvin,Coolidge,"51 years, 29 daysAug 2, 1923",1872-07-04,"56 years, 243 daysMar 4, 1929","3 years, 307 days","60 years, 185 days",1872-07-04,1933-01-05
31,Herbert,Hoover,"54 years, 206 daysMar 4, 1929",1874-08-10,"58 years, 206 daysMar 4, 1933","31 years, 230 days","90 years, 71 days",1874-08-10,1964-10-20
32,Franklin,Roosevelt,"51 years, 33 daysMar 4, 1933",1882-01-30,"63 years, 72 daysApr 12, 1945[b]",NaN,"63 years, 72 days",1882-01-30,1945-04-12
33,Harry,Truman,"60 years, 339 daysApr 12, 1945",1884-05-08,"68 years, 257 daysJan 20, 1953","19 years, 341 days","88 years, 232 days",1884-05-08,1972-12-26
34,Dwight,Eisenhower,"62 years, 98 daysJan 20, 1953",1890-10-14,"70 years, 98 daysJan 20, 1961","8 years, 67 days","78 years, 165 days",1890-10-14,1969-03-28
35,John,Kennedy,"43 years, 236 daysJan 20, 1961",1917-05-29,"46 years, 177 daysNov 22, 1963[b]",NaN,"46 years, 177 days",1917-05-29,1963-11-22
36,Lyndon,Johnson,"55 years, 87 daysNov 22, 1963",1908-08-27,"60 years, 146 daysJan 20, 1969","4 years, 2 days","64 years, 148 days",1908-08-27,1973-01-22
37,Richard,Nixon,"56 years, 11 daysJan 20, 1969",1913-01-09,"61 years, 212 daysAug 9, 1974[e]","19 years, 256 days","81 years, 103 days",1913-01-09,1994-04-22
38,Gerald,Ford,"61 years, 26 daysAug 9, 1974",1913-07-14,"63 years, 190 daysJan 20, 1977","29 years, 340 days","93 years, 165 days",1913-07-14,2006-12-26
39,Jimmy,Carter,"52 years, 111 daysJan 20, 1977",1924-10-01,"56 years, 111 daysJan 20, 1981","38 years, 175 days","94 years, 286 days",1924-10-01,NaT
40,Ronald,Reagan,"69 years, 349 daysJan 20, 1981",1911-02-06,"77 years, 349 daysJan 20, 1989","15 years, 137 days","93 years, 120 days",1911-02-06,2004-06-05
41,George,Bush,"64 years, 222 daysJan 20, 1989",1924-06-12,"68 years, 222 daysJan 20, 1993","25 years, 314 days","94 years, 171 days",1924-06-12,2018-11-30
42,Bill,Clinton,"46 years, 154 daysJan 20, 1993",1946-08-19,"54 years, 154 daysJan 20, 2001","18 years, 175 days","72 years, 329 days",1946-08-19,NaT
43,George,Bush,"54 years, 198 daysJan 20, 2001",1946-07-06,"62 years, 198 daysJan 20, 2009","10 years, 175 days","73 years, 8 days",1946-07-06,NaT
44,Barack,Obama,"47 years, 169 daysJan 20, 2009",1961-08-04,"55 years, 169 daysJan 20, 2017","2 years, 175 days","57 years, 344 days",1961-08-04,NaT